In [35]:
import pandas as pd
import numpy as np
from datetime import datetime

Trip data 2019

In [2]:
data1901 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201901-citibike-tripdata.csv", encoding = 'unicode_escape')
data1902 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201902-citibike-tripdata.csv", encoding = 'unicode_escape')
data1903 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201903-citibike-tripdata.csv", encoding = 'unicode_escape')
data1904 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201904-citibike-tripdata.csv", encoding = 'unicode_escape')
data1905 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201905-citibike-tripdata.csv", encoding = 'unicode_escape')
data1906 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201906-citibike-tripdata.csv", encoding = 'unicode_escape')
data1907 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201907-citibike-tripdata.csv", encoding = 'unicode_escape')
data1908 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201908-citibike-tripdata.csv", encoding = 'unicode_escape')
data1909 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201909-citibike-tripdata.csv", encoding = 'unicode_escape')
data1910 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201910-citibike-tripdata.csv", encoding = 'unicode_escape')
data1911 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201911-citibike-tripdata.csv", encoding = 'unicode_escape')
data1912 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-201912-citibike-tripdata.csv", encoding = 'unicode_escape')

In [3]:
data1901['month']=1
data1902['month']=2
data1903['month']=3
data1904['month']=4
data1905['month']=5
data1906['month']=6
data1907['month']=7
data1908['month']=8
data1909['month']=9
data1910['month']=10
data1911['month']=11
data1912['month']=12
data1912.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1,12
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1,12
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1,12
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1,12
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1,12

In [4]:
total_data19 = pd.concat([data1901,data1902,data1903,data1904,data1905,data1906,data1907,data1908,data1909,data1910,data1911,data1912])

In [5]:
total_data19.to_csv('tripdata_19.csv')

Trip data 2020

In [6]:
data2001 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202001-citibike-tripdata.csv", encoding = 'unicode_escape')
data2002 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202002-citibike-tripdata.csv", encoding = 'unicode_escape')
data2003 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202003-citibike-tripdata.csv", encoding = 'unicode_escape')
data2004 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202004-citibike-tripdata.csv", encoding = 'unicode_escape')
data2005 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202005-citibike-tripdata.csv", encoding = 'unicode_escape')
data2006 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202006-citibike-tripdata.csv", encoding = 'unicode_escape')
data2007 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202007-citibike-tripdata.csv", encoding = 'unicode_escape')
data2008 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202008-citibike-tripdata.csv", encoding = 'unicode_escape')
data2009 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202009-citibike-tripdata.csv", encoding = 'unicode_escape')
data2010 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202010-citibike-tripdata.csv", encoding = 'unicode_escape')
data2011 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202011-citibike-tripdata.csv", encoding = 'unicode_escape')
data2012 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202012-citibike-tripdata.csv", encoding = 'unicode_escape')

In [7]:
data2001['month']=1
data2002['month']=2
data2003['month']=3
data2004['month']=4
data2005['month']=5
data2006['month']=6
data2007['month']=7
data2008['month']=8
data2009['month']=9
data2010['month']=10
data2011['month']=11
data2012['month']=12

In [8]:
total_data20 = pd.concat([data2001,data2002,data2003,data2004,data2005,data2006,data2007,data2008,data2009,data2010,data2011,data2012])

In [9]:
total_data20.to_csv('tripdata_20.csv')

Trip Data 2021

In [11]:
data2101 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202101-citibike-tripdata.csv", encoding = 'unicode_escape')
data2102 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202102-citibike-tripdata.csv", encoding = 'unicode_escape')
data2103 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202103-citibike-tripdata.csv", encoding = 'unicode_escape')
data2104 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202104-citibike-tripdata.csv", encoding = 'unicode_escape')
data2105 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202105-citibike-tripdata.csv", encoding = 'unicode_escape')
data2106 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202106-citibike-tripdata.csv", encoding = 'unicode_escape')
data2107 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202107-citibike-tripdata.csv", encoding = 'unicode_escape')
data2108 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202108-citibike-tripdata.csv", encoding = 'unicode_escape')
data2109 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202109-citibike-tripdata.csv", encoding = 'unicode_escape')
data2110 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202110-citibike-tripdata.csv", encoding = 'unicode_escape')
data2111 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202111-citibike-tripdata.csv", encoding = 'unicode_escape')
data2112 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202112-citibike-tripdata.csv", encoding = 'unicode_escape')

In [12]:
data2101['month']=1
data2102['month']=2
data2103['month']=3
data2104['month']=4
data2105['month']=5
data2106['month']=6
data2107['month']=7
data2108['month']=8
data2109['month']=9
data2110['month']=10
data2111['month']=11
data2112['month']=12

In [27]:
data2101 = data2101[{'tripduration','starttime','stoptime','start station latitude','start station longitude','end station latitude','end station longitude'}]
data2101.head()

,end station longitude,start station latitude,start station longitude,end station latitude,tripduration,stoptime,starttime
0,-74.050656,40.721651,-74.042884,40.724176,266,2021-01-01 00:08:01.7770,2021-01-01 00:03:35.5100
1,-74.047727,40.715178,-74.037683,40.718489,1543,2021-01-01 00:49:16.0830,2021-01-01 00:23:32.9250
2,-74.047727,40.715178,-74.037683,40.718489,1461,2021-01-01 00:48:12.5660,2021-01-01 00:23:50.7940
3,-74.032108,40.717733,-74.043845,40.728745,793,2021-01-01 00:44:22.9430,2021-01-01 00:31:09.0770
4,-74.050656,40.719252,-74.034234,40.724176,596,2021-01-01 00:45:48.7740,2021-01-01 00:35:52.1900

In [16]:
data2102.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member,2
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member,2
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member,2
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual,2
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member,2

In [20]:
total = pd.concat([data2102,data2103,data2104,data2105,data2106,data2107,data2108,data2109,data2110,data2111,data2112])

In [23]:
total = total[{'started_at','ended_at','start_station_id','start_lat','start_lng','end_lat','end_lng','month'}]

In [41]:
total.head()

,start_station_id,started_at,end_lng,end_lat,ended_at,month,start_lng,start_lat
0,JC105,2021-02-03 23:11:28,-74.050444,40.734786,2021-02-03 23:18:28,2,-74.046964,40.735208
1,JC008,2021-02-27 16:34:05,-74.042817,40.714584,2021-02-27 16:56:40,2,-74.032108,40.728744
2,JC103,2021-02-26 23:16:04,-74.064194,40.723659,2021-02-26 23:22:25,2,-74.062500,40.733670
3,JC105,2021-02-24 16:51:50,-74.046964,40.735208,2021-02-24 17:16:09,2,-74.046963,40.735208
4,JC105,2021-02-24 20:44:16,-74.046964,40.735208,2021-02-24 20:44:46,2,-74.046963,40.735208

In [49]:
'''a = total.iloc[0,1]
b = total.iloc[0,4]
a1 = datetime.strptime(str(a),"%Y-%m-%d %H:%M:%S")
b1 = datetime.strptime(str(b),"%Y-%m-%d %H:%M:%S")
(b1-a1).seconds'''

420

In [51]:
total['duration'] = np.zeros(len(total))

<ipython-input-51-31c5a61c6799>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total['duration'] = np.zeros(len(total))

,start_station_id,started_at,end_lng,end_lat,ended_at,month,start_lng,start_lat,duration
0,JC105,2021-02-03 23:11:28,-74.050444,40.734786,2021-02-03 23:18:28,2,-74.046964,40.735208,0.0
1,JC008,2021-02-27 16:34:05,-74.042817,40.714584,2021-02-27 16:56:40,2,-74.032108,40.728744,0.0
2,JC103,2021-02-26 23:16:04,-74.064194,40.723659,2021-02-26 23:22:25,2,-74.062500,40.733670,0.0
3,JC105,2021-02-24 16:51:50,-74.046964,40.735208,2021-02-24 17:16:09,2,-74.046963,40.735208,0.0
4,JC105,2021-02-24 20:44:16,-74.046964,40.735208,2021-02-24 20:44:46,2,-74.046963,40.735208,0.0
...,...,...,...,...,...,...,...,...,...
48016,JC005,2021-12-16 17:17:46,-74.044247,40.727596,2021-12-16 17:22:53,12,-74.043117,40.719586,0.0
48017,JC005,2021-12-07 17:10:29,-74.044247,40.727596,2021-12-07 17:15:02,12,-74.043117,40.719586,0.0
48018,JC005,2021-12-18 09:50:14,-74.044247,40.727596,2021-12-18 09:55:55,12,-74.043117,40.719586,0.0
48019,JC005,2021-12-10 21:43:32,-74.044247,40.727596,2021-12-10 21:49:04,12,-74.043117,40.719586,0.0
48020,JC019,2021-12-08 11:09:56,-74.044247,40.727596,2021-12-08 11:14:58,12,-74.057574,40.731169,0.0

In [59]:
for i in range(len(total)):
    a = total.iloc[i,1]
    b = total.iloc[i,4]
    a1 = datetime.strptime(str(a),"%Y-%m-%d %H:%M:%S")
    b1 = datetime.strptime(str(b),"%Y-%m-%d %H:%M:%S")
    total.iloc[i,8] = (b1-a1).seconds

/Users/zhendongyang/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [60]:
total = total[{'started_at','ended_at','start_lat','start_lng','end_lat','end_lng','month','duration'}]

In [62]:
total.head()

,duration,started_at,end_lng,end_lat,ended_at,month,start_lng,start_lat
0,420.0,2021-02-03 23:11:28,-74.050444,40.734786,2021-02-03 23:18:28,2,-74.046964,40.735208
1,1355.0,2021-02-27 16:34:05,-74.042817,40.714584,2021-02-27 16:56:40,2,-74.032108,40.728744
2,381.0,2021-02-26 23:16:04,-74.064194,40.723659,2021-02-26 23:22:25,2,-74.062500,40.733670
3,1459.0,2021-02-24 16:51:50,-74.046964,40.735208,2021-02-24 17:16:09,2,-74.046963,40.735208
4,30.0,2021-02-24 20:44:16,-74.046964,40.735208,2021-02-24 20:44:46,2,-74.046963,40.735208

In [77]:
#total.columns = {'tripduration','starttime','end station longitude','end station latitude','stoptime','month','start station longitude','start station latitude'}
total

,end station longitude,start station latitude,start station longitude,end station latitude,tripduration,stoptime,starttime
0,420.0,2021-02-03 23:11:28,-74.050444,40.734786,2021-02-03 23:18:28,2,40.735208
1,1355.0,2021-02-27 16:34:05,-74.042817,40.714584,2021-02-27 16:56:40,2,40.728744
2,381.0,2021-02-26 23:16:04,-74.064194,40.723659,2021-02-26 23:22:25,2,40.733670
3,1459.0,2021-02-24 16:51:50,-74.046964,40.735208,2021-02-24 17:16:09,2,40.735208
4,30.0,2021-02-24 20:44:16,-74.046964,40.735208,2021-02-24 20:44:46,2,40.735208
...,...,...,...,...,...,...,...
48016,307.0,2021-12-16 17:17:46,-74.044247,40.727596,2021-12-16 17:22:53,12,40.719586
48017,273.0,2021-12-07 17:10:29,-74.044247,40.727596,2021-12-07 17:15:02,12,40.719586
48018,341.0,2021-12-18 09:50:14,-74.044247,40.727596,2021-12-18 09:55:55,12,40.719586
48019,332.0,2021-12-10 21:43:32,-74.044247,40.727596,2021-12-10 21:49:04,12,40.719586
48020,302.0,2021-12-08 11:09:56,-74.044247,40.727596,2021-12-08 11:14:58,12,40.731169

In [ ]:
order = data2101.columns
total = total[order]

In [75]:
data2101

,end station longitude,start station latitude,start station longitude,end station latitude,tripduration,stoptime,starttime
0,-74.050656,40.721651,-74.042884,40.724176,266,2021-01-01 00:08:01.7770,2021-01-01 00:03:35.5100
1,-74.047727,40.715178,-74.037683,40.718489,1543,2021-01-01 00:49:16.0830,2021-01-01 00:23:32.9250
2,-74.047727,40.715178,-74.037683,40.718489,1461,2021-01-01 00:48:12.5660,2021-01-01 00:23:50.7940
3,-74.032108,40.717733,-74.043845,40.728745,793,2021-01-01 00:44:22.9430,2021-01-01 00:31:09.0770
4,-74.050656,40.719252,-74.034234,40.724176,596,2021-01-01 00:45:48.7740,2021-01-01 00:35:52.1900
...,...,...,...,...,...,...,...
11619,-74.050990,40.721124,-74.038051,40.719420,2476,2021-01-31 20:57:22.0110,2021-01-31 20:16:05.4700
11620,-74.038051,40.719586,-74.043117,40.721124,147,2021-01-31 21:07:32.8660,2021-01-31 21:05:05.2090
11621,-74.042817,40.721525,-74.046305,40.714584,660,2021-01-31 21:17:23.8420,2021-01-31 21:06:23.5880
11622,-74.062859,40.716540,-74.049638,40.713464,384,2021-01-31 21:23:02.1240,2021-01-31 21:16:37.8220
11623,-74.043117,40.719252,-74.034234,40.719586,356,2021-01-31 23:30:47.3030,2021-01-31 23:24:50.8810

In [73]:
t = pd.concat([data2101,total])

In [74]:

t

,end station longitude,start station latitude,start station longitude,end station latitude,tripduration,stoptime,starttime
0,-74.050656,40.7217,-74.042884,40.724176,266,2021-01-01 00:08:01.7770,2021-01-01 00:03:35.5100
1,-74.047727,40.7152,-74.037683,40.718489,1543,2021-01-01 00:49:16.0830,2021-01-01 00:23:32.9250
2,-74.047727,40.7152,-74.037683,40.718489,1461,2021-01-01 00:48:12.5660,2021-01-01 00:23:50.7940
3,-74.032108,40.7177,-74.043845,40.728745,793,2021-01-01 00:44:22.9430,2021-01-01 00:31:09.0770
4,-74.050656,40.7193,-74.034234,40.724176,596,2021-01-01 00:45:48.7740,2021-01-01 00:35:52.1900
...,...,...,...,...,...,...,...
48016,307.000000,2021-12-16 17:17:46,-74.044247,40.727596,2021-12-16 17:22:53,12,40.7196
48017,273.000000,2021-12-07 17:10:29,-74.044247,40.727596,2021-12-07 17:15:02,12,40.7196
48018,341.000000,2021-12-18 09:50:14,-74.044247,40.727596,2021-12-18 09:55:55,12,40.7196
48019,332.000000,2021-12-10 21:43:32,-74.044247,40.727596,2021-12-10 21:49:04,12,40.7196
48020,302.000000,2021-12-08 11:09:56,-74.044247,40.727596,2021-12-08 11:14:58,12,40.7312

In [78]:
total.to_csv('2-9.csv')

In [14]:
#total_data21.to_csv('tripdata_21.csv')

In [79]:
total2 = pd.concat([data2102,data2103,data2104,data2105,data2106,data2107,data2108,data2109,data2110,data2111,data2112])
total2 = total2[{'started_at','ended_at','start_lat','start_lng','end_lat','end_lng','month'}]

In [80]:
total2.to_csv('total2.csv')

In [89]:
data2101 = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/JC-202101-citibike-tripdata.csv", encoding = 'unicode_escape')
ddd = pd.read_csv("https://raw.githubusercontent.com/iamzhenxp/Air-quality-bike-sharing/main/Citi%20Bike%20Trip%20Data/2-9.csv", encoding = 'unicode_escape')

In [93]:
data2101 = data2101[{'tripduration','starttime','stoptime','start station latitude','start station longitude','end station latitude','end station longitude'}]
data2101['month']=1

,end station longitude,start station latitude,start station longitude,end station latitude,tripduration,stoptime,starttime,month,Unnamed: 0
0,-74.050656,40.721651,-74.042884,40.724176,266,2021-01-01 00:08:01.7770,2021-01-01 00:03:35.5100,1,NaN
1,-74.047727,40.715178,-74.037683,40.718489,1543,2021-01-01 00:49:16.0830,2021-01-01 00:23:32.9250,1,NaN
2,-74.047727,40.715178,-74.037683,40.718489,1461,2021-01-01 00:48:12.5660,2021-01-01 00:23:50.7940,1,NaN
3,-74.032108,40.717733,-74.043845,40.728745,793,2021-01-01 00:44:22.9430,2021-01-01 00:31:09.0770,1,NaN
4,-74.050656,40.719252,-74.034234,40.724176,596,2021-01-01 00:45:48.7740,2021-01-01 00:35:52.1900,1,NaN
...,...,...,...,...,...,...,...,...,...
632814,-74.044247,40.719586,-74.043117,40.727596,307,12/16/21 17:22,12/16/21 17:17,12,48016.0
632815,-74.044247,40.719586,-74.043117,40.727596,273,12/7/21 17:15,12/7/21 17:10,12,48017.0
632816,-74.044247,40.719586,-74.043117,40.727596,341,12/18/21 9:55,12/18/21 9:50,12,48018.0
632817,-74.044247,40.719586,-74.043117,40.727596,332,12/10/21 21:49,12/10/21 21:43,12,48019.0
632818,-74.044247,40.731169,-74.057574,40.727596,302,12/8/21 11:14,12/8/21 11:09,12,48020.0

In [ ]:
ft = pd.concat([data2101,ddd])
ft = ft.drop(ft.columns[-1],1)
ft.to_csv('tripdata21.csv')